# EditorConfig, for consistent coding style across editors/IDEs.
# see also: https://editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{rs,py,sh,cpp,c,cxx,h,hxx,hpp}]
max_line_length = 100

[*.md]
trim_trailing_whitespace = false

[*.{yaml,yml}]
indent_size = 2

[*.json]
indent_size = 2

[{CMakeLists.txt,*.cmake}]
indent_size = 2

[{Makefile,*.make}]
indent_style = tab
