/target
/target-*
/crashes

experiments/
experiments*/
tlspuffin.log
log.json

venv
stats.json

experiments.ipynb

.gdb_history

plot*.svg

flame.svg
*.data
*.data.old


*.profraw
coverage.info
coverage/

corpus/
seeds/
objective/

.direnv

*.profdata
*.profraw
*.gcov
coverage.csv
*.html
*.css
stats.json.should-be-empty.log
