[submodule "openssl-src"]
	path = crates/openssl-src-111
	url = git@github.com:tlspuffin/openssl-src-rs.git
	branch = fuzz
	update = rebase
[submodule "rust-libressl-src"]
	path = deps/rust-libressl-src
	url = git@github.com:tlspuffin/libressl-src.git
	branch = fuzz
	update = rebase
