[submodule "openssl-src"]
	path = deps/rust-openssl-src
	url = git@github.com:tlspuffin/openssl-src-rs.git
	branch = fuzz
	update = rebase
[submodule "rust-openssl"]
	path = deps/rust-openssl
	url = git@github.com:tlspuffin/rust-openssl.git
	branch = fuzz
	update = rebase
[submodule "rust-libressl-src"]
	path = deps/rust-libressl-src
	url = git@github.com:tlspuffin/libressl-src.git
	branch = fuzz
	update = rebase
[submodule "rust-rustls"]
	path = deps/rust-rustls
	url = git@github.com:tlspuffin/rustls.git
	branch = update-rustls
	update = rebase
[submodule "wolfssl-sys"]
	path = deps/wolfssl-sys
	url = git@github.com:tlspuffin/wolfssl-sys.git
	branch = fuzz
	update = rebase
