[submodule "openssl-src"]
	path = deps/rust-openssl-src
	url = git@github.com:tlspuffin/openssl-src-rs.git
[submodule "rust-openssl"]
	path = deps/rust-openssl
	url = git@github.com:tlspuffin/rust-openssl.git
[submodule "rust-libressl-src"]
	path = deps/rust-libressl-src
	url = git@github.com:tlspuffin/libressl-src.git
[submodule "rust-rustls"]
	path = deps/rust-rustls
	url = git@github.com:tlspuffin/rustls.git
[submodule "wolfssl-sys"]
	path = deps/wolfssl-sys
	url = git@github.com:tlspuffin/wolfssl-sys.git
	branch = openssl
[submodule "deps/rust-wolfssl"]
	path = deps/rust-wolfssl
	url = git@github.com:tlspuffin/rust-openssl.git
	branch = wolfssl
