[package]
name = "tlspuffin"
version = "0.1.0"
authors = ["Maximilian Ammann <max@maxammann.org>"]
edition = "2021"

[features]
default = ["sancov_libafl", "openssl111", "introspection"]

# Logs each execution of __sanitizer_cov_trace_pc_guard*
sancov_pcguard_log = []
# Uses libafl for the instrumentation. sancov_pcguard_log and sancov_libafl are mutally exclusive
sancov_libafl = ["libafl_targets/sancov_pcguard_hitcounts"]
# Enables ASAN
asan = ["openssl/asan"]

# Lastest OpenSSL 1.1.1
openssl111 = [
    "openssl/vendored-openssl111", "openssl/no-rand", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
    "tls13", "session-resumption", "deterministic", # Supported features by openssl111
    "claims",
    "openSSL"
]
openssl101f = [
    "openSSL", "openssl/vendored-openssl101f", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
]
openssl102u = [
    "openSSL", "openssl/vendored-openssl102u", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
]
# Some LibreSSL version
libressl = [
    "openssl/vendored-libressl",
    "tls13", # Supported features by openssl111
    "claims",
    "openSSL"
]

wolfssl520 = [
    "wolfssl-sys/vendored-wolfssl520",
    "wolfSSL",
]
# Some OpenSSL-compatible version
openSSL = []
# Some WolfSSL version
wolfSSL = []

# PUT supports TLS 1.3
tls13 = []
# PUT supports session resumption
session-resumption = []
# PUT is determinisitic
deterministic = []

# Require the PUT to implement the claim-interface.h
claims = []
# Uses a random scheduler instead of minimizer
no-minimizer = []  # [LH] [TODO] Why no minimizer?
# Save the corpus on disk
disk-corpus = []
introspection = ["libafl/introspection"]



[dependencies]
# TLS
# Custom work because:
#   * Message is cloneable
#   * Disabled logical checks during parsing of messages
#   * All modules exposed
rustls = { path = "deps/rust-rustls/rustls" }
webpki = { version = "0.22.0", features = ["alloc", "std"] }
webpki-roots = "0.22.0"
ring = { version = "0.16", features = ["std"] }

# LibAFL
libafl = { version = "0.7", features = []}
libafl_derive = {  version = "0.7" }
libafl_targets = { version = "0.7" }

# Logging
log = "0.4"
log4rs = "1.0"

nix = "0.21"

# Utils
clap = "2"
hexdump = "0.1"
hex = "0.4"
rand = "0.8"
itertools = "0.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
postcard = { version = "0.7", features = ["alloc"] }
once_cell = "1.7"
chrono = "0.4"

# OpenSSL
# Uses build scripts from './openssl-src'
openssl = { path = "deps/rust-openssl/openssl", features = ["sancov"] }
foreign-types-shared = "0.1"
security-claims = { path = "security-claims" }

# WolfSSL
wolfssl-sys = { path = "deps/wolfssl-sys", features = [] }

[dev-dependencies]
criterion = "0.3"
# Support logging in tests
test-log = "0.2"
env_logger = "0.8" # Used for test-env-log
nix = "0.21"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = 3
debug = true

[profile.dev]
panic = "abort"

[[bench]]
name = "benchmark"
harness = false

[[bin]]
name = "tlspuffin"
path = "src/main.rs"

# Used in tools/coverage.sh to generate coverage
[[example]]
name = "seed_successful"
