[package]
name = "tlspuffin"
version = "0.1.0"
authors = ["Maximilian Ammann <max@maxammann.org>"]
edition = "2021"

[features]
default = ["sancov_libafl", "introspection"]

# Lastest OpenSSL 1.1.1
openssl111 = [
    "openssl/vendored-openssl111", "openssl/no-rand", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
    "tls13", "session-resumption", "deterministic", # Supported features by openssl111
    "claims",
    "openssl",
    "openssl-binding"
]
openssl101f = [
    "openssl/vendored-openssl101f", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
    "openssl",
    "openssl-binding"
]
openssl102u = [
    "openssl/vendored-openssl102u", "openssl/weak-crypto", # We want to allow weak-crypto for FREAK
    "openssl",
    "openssl-binding"
]
# Some LibreSSL version
libressl = [
    "openssl/vendored-libressl",
    "tls13", # Supported features by openssl111
    "claims",
    "openssl",
    "openssl-binding"
]

wolfssl520 = [
    "wolfssl-sys",
    "wolfssl-sys/vendored-wolfssl520",
    "tls13",
    "wolfssl-binding"
]

# Logs each execution of __sanitizer_cov_trace_pc_guard*
sancov_pcguard_log = []
# Uses libafl for the instrumentation. sancov_pcguard_log and sancov_libafl are mutally exclusive
sancov_libafl = ["libafl_targets/sancov_pcguard_hitcounts"]
# Enables ASAN
asan = ["openssl/asan"]

# WolfSSL bindings are used
wolfssl-binding = []
# OpenSSL bindings are used
openssl-binding = ["foreign-types-shared"]

# PUT supports TLS 1.3
tls13 = []
# PUT supports session resumption
session-resumption = []
# PUT is determinisitic
deterministic = []
# Require the PUT to implement the claim-interface.h
claims = []

introspection = ["libafl/introspection"]

[dependencies]
# TLS
# Custom work because:
#   * Message is cloneable
#   * Disabled logical checks during parsing of messages
#   * All modules exposed
rustls = { path = "../deps/rust-rustls/rustls" }
webpki = { version = "0.22.0", features = ["alloc", "std"] }
webpki-roots = "0.22.3"
ring = { version = "0.16.20", features = ["std"] }

# LibAFL
libafl = { version = "0.7.1", features = [] }
libafl_derive = "0.7.1"
libafl_targets = "0.7.1"

# Logging
log = "0.4.17"
log4rs = "1.1.1"

nix = "0.24.1"

# Utils
clap = { version = "3.1.18", features = ["cargo"] }
hex = "0.4.3"
rand = "0.8.5"
itertools = "0.10.3"
serde = { version = "1.0.137", features = ["derive"] }
serde_json = "1.0.81"
postcard = { version = "0.7.3", features = ["alloc"] }
once_cell = "1.12.0"
chrono = "0.4.19"

# OpenSSL
# Uses build scripts from './openssl-src'
openssl = { path = "../deps/rust-openssl/openssl", features = ["sancov"], optional = true }
foreign-types-shared = { version = "0.1.1", optional = true }
security-claims = { path = "../tlspuffin-claims", optional = false }

# WolfSSL
wolfssl-sys = { path = "../deps/wolfssl-sys", features = [], optional = true }
libc = "0.2.126"

[dev-dependencies]
criterion = "0.3.5"
# Support logging in tests
test-log = "0.2.10"
env_logger = "0.9.0"
nix = "0.24.1"

[[bench]]
name = "benchmark"
harness = false

[[bin]]
name = "tlspuffin"
path = "src/main.rs"

# FIXME Used in tools/coverage.sh to generate coverage
#[[example]]
#name = "seed_successful"
