[package]
name = "sshpuffin"
version = "0.1.0"
edition = "2021"

[features]
# Current put supports claims
claims = ['puffin/claims']

[dependencies]
libssh-sys = { path = "../crates/libssh-sys", features = ["vendored-libssh0104"] }
puffin = { path = "../puffin" }

log = "0.4"
thiserror = "1.0"

# libssh

byteorder = "1.3"
digest = "0.10.3"
flate2 = {version = "1.0"}
generic-array = "0.14"
rand = "0.8"
sha2 = "0.10.2"

futures = "0.3"
tokio = {version = "1.17.0", features = ["io-util", "rt-multi-thread", "time", "net", "sync", "macros", "process"]}

# libssh
foreign-types = { version = "0.5.0" }
bitflags = { version = "1.3.2" }

[dev-dependencies]
env_logger = "0.10.0"
test-log = "0.2.11"

[build-dependencies]
cmake = "0.1.48"
bindgen = "0.69.1"
