name: build-docs

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  build-docs:
    name: build docs
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup
      - name: setup mdBook
        uses: peaceiris/actions-mdbook@v2
      - name: build mdbook
        working-directory: docs
        run: mdbook build
      - name: build API documentation
        run: just run cargo doc -p tlspuffin --target x86_64-unknown-linux-gnu --document-private-items
      - uses: actions/upload-artifact@v4
        with:
          name: docs-api
          path: target/doc/
          if-no-files-found: error
      - uses: actions/upload-artifact@v4
        with:
          name: docs-book
          path: docs/book/
          if-no-files-found: error
