name: Pull Request

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - trailofbits

jobs:
  run-check:
    uses: ./.github/workflows/run-checks.yml
  run-benchmarks:
    uses: ./.github/workflows/run-benchmarks.yml
  build-deploy-docs:
    uses: ./.github/workflows/build-deploy-docs.yml
    with:
      deploy: false
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        name:
          - openssl111
          - openssl101f_asan
          - openssl102u
          - libressl
          - wolfssl430
          - wolfssl510
          - wolfssl530
          - wolfssl530_asan
          - wolfssl540
          - libssh
        include:
          - name: openssl111
            crate: tlspuffin
            features: openssl111
            clean-crates: openssl-sys
            save-cache: true # We only save the cache once, else we get too mache cache entries
          - name: openssl101f_asan
            crate: tlspuffin
            features: openssl101f,asan
            apt-dependencies: xutils-dev
            clean-crates: openssl-sys
          - name: openssl102u
            crate: tlspuffin
            features: openssl102u
            clean-crates: openssl-sys
          - name: libressl
            crate: tlspuffin
            features: libressl
          - name: wolfssl430
            crate: tlspuffin
            features: wolfssl430
          - name: wolfssl510
            crate: tlspuffin
            features: wolfssl510
          - name: wolfssl530
            crate: tlspuffin
            features: wolfssl530
          - name: wolfssl530_asan
            crate: tlspuffin
            features: wolfssl530,asan
          - name: wolfssl540
            crate: tlspuffin
            features: wolfssl540
          - name: libssh
            crate: sshpuffin
            features: ""
    uses: ./.github/workflows/build-linux.yml
    with:
      name: ${{ matrix.name }}
      crate: ${{ matrix.crate }}
      features: ${{ matrix.features }}
      cargo-flags: ${{ matrix.cargo-flags }}
      apt-dependencies: ${{ matrix.apt-dependencies }}
      clean-crates: ${{ matrix.clean-crates }}
      save-cache: ${{ matrix.save-cache }}
