name: Run benchmarks

on:
  workflow_call:

jobs:
  run-benchmarks:
    name: Benchmark
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup
        uses: ./.github/actions/setup
      - name: Benchmark
        shell: bash
        run: just benchmark
