name: Run checks

on:
  workflow_call:

jobs:
  run-checks:
    name: Check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Setup
        uses: ./.github/actions/setup
      - name: Format
        shell: bash
        run: just fmt-check
