name: Run benchmarks

on:
  workflow_call:

jobs:
  run-benchmarks:
    name: Benchmark
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Setup
        uses: ./.github/actions/setup
      - name: Benchmark
        shell: bash
        run: just benchmark
