name: Run smoke test

on:
  workflow_dispatch:
  workflow_call:

jobs:
  unit-test:
    name: unit test
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup
      - name: unit test `puffin`
        run: just test puffin x86_64-unknown-linux-gnu "" ""
      - name: unit test `security-claims`
        run: just test security-claims x86_64-unknown-linux-gnu "" ""
      - name: unit test `tlspuffin`
        run: just test tlspuffin x86_64-unknown-linux-gnu "" "--no-default-features"
      - name: unit test `sshpuffin`
        run: just test tlspuffin x86_64-unknown-linux-gnu "" "--no-default-features"

  smoke-test-tlspuffin:
    name: smoke test `tlspuffin`
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup
      - name: run `tlspuffin help`
        run: cargo run --profile=release --features=openssl111j --bin tlspuffin -- help
      - name: run `tlspuffin seed`
        run: cargo run --profile=release --features=openssl111j --bin tlspuffin -- seed && [[ -d ./seeds ]]
      - name: run `tlspuffin execute` on seeds
        run: cargo run --profile=release --features=openssl111j --bin tlspuffin -- execute-traces ./seeds

  smoke-test-sshpuffin:
    name: smoke test `sshpuffin`
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: setup
        uses: ./.github/actions/setup
      - name: run `sshpuffin help`
        run: cargo run --profile=release --bin sshpuffin -- help
      - name: run `sshpuffin seed`
        run: cargo run --profile=release --bin sshpuffin -- seed && [[ -d ./seeds ]]
      - name: run `sshpuffin execute` on seeds
        run: cargo run --profile=release --bin sshpuffin -- execute-traces ./seeds
